*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: whitesmoke;
  color: darkcyan;
  display: flex;
  flex-direction: column;
  padding: 0 5em;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2em;
  width: 100%;
}

.nav > * {
  text-decoration: none;
  font-weight: bold;
  margin: 0 1em;
  color: darkcyan;
  cursor: pointer;
}

.nav > *:not(:first-child) {
  padding-left: 2em;
  border-left: black 1px solid;
}

.nav > *:hover {
  color: darkcyan;
  text-shadow: 2px 2px 2px rgb(96, 95, 95);
  transform: scale(1.2);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
}

.main > *:not(:last-child) {
  margin-bottom: 1em;
}

.main-calculator {
  background-image: url(../images/dplnews_matematicas_311019.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2px);
  color: whitesmoke;
  text-shadow: rgb(95, 94, 94) 2px 2px 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3em;
}

.main-calculator > *:not(:last-child) {
  margin-bottom: 1em;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
